.main_row {
    margin-top: 80px;
    display: flex;
    row-gap: 50px;
    justify-content: space-between;
    
}

.select_goods {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
}

.select_shop {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
}

.shops_row {
    display: flex;
    flex-direction: column;

}

.shops_row button {
    padding: 10px;
    margin: 10px;
}